/data/maps/WB_countries_Admin0_10m/
/gcam-7_1-sandbox/exe/main_log
/gcam-7_1-sandbox/exe/debugReference.xml
/gcam-7_1-sandbox/input/climate/
/gcam-7_1-sandbox/input/extra/
/gcam-7_1-sandbox/input/magicc/
/gcam-7_1-sandbox/input/policy/
/gcam-7_1-sandbox/input/gcamdata/chunk-generator/
/gcam-7_1-sandbox/input/gcamdata/data/
/gcam-7_1-sandbox/input/gcamdata/data-raw/
/gcam-7_1-sandbox/input/gcamdata/exec/
/gcam-7_1-sandbox/input/gcamdata/figures/
/gcam-7_1-sandbox/input/gcamdata/man/
/gcam-7_1-sandbox/input/gcamdata/renv/
/gcam-7_1-sandbox/input/gcamdata/tests/
/gcam-7_1-sandbox/input/gcamdata/vignettes/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/aglu/FAO/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/aglu/IMAGE/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/aglu/LDS/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/aglu/USDA/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/CEDS/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/EDGAR/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/emission_controls/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/EPA/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/GFED/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/mappings/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/emissions/user_emission_controls/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/energy/Rt_iron_steel_bilateral_trade.csv
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/energy/GIS/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/energy/mappings/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/gcam-usa/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/mi_headers/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/socioeconomics/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/tests/
/gcam-7_1-sandbox/input/gcamdata/inst/extdata/water/
/gcam-7_1-sandbox/output/
.Rproj.user
/gcam-7_1-sandbox/exe/configuration.xml
/gcam-7_1-sandbox/ModelInterface/model_interface.properties
/gcam-sandbox-7_0/
/data-7_0/
